<header>
  <%= link_to "🍗 Trasure-Data - Social Recipes 🍰", root_path, id: "logo" %>
  <nav><ul>
  <li> 🌶 </li>
    <li><%= link_to "Home", root_path %></li>
    <li> 🍆 </li>
    <% if logged_in? %>
      <li><%= link_to current_user.username, current_user %></li>
      <li> 🍄 </li>
      <li><%= link_to "Log out", logout_path, method: :delete %></li>
      <li> 🌽 </li>
    <% else %>
      <li><%= link_to "Log in", login_path %></li>
      <li> 🍄 </li>
      <li><%= link_to "Register", register_path %></li>
      <li> 🌽 </li>
    <% end %>
  </ul></nav>
</header>
